{% extends 'base.html' %}
{% block content %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'about_person.css' %}"/>
<div class="main-container">
    <div class="history-edit-box">
        <div class="his-ed-box">
            <div class="his-ed-box-el">
                <span class="fa fa-star" style="margin-right: 20px;"></span>
                <a href="#" style="text-decoration: none; font-weight: bold; color: #611902; font-size: 12px; margin-right: 20px; text-transform: uppercase;">Оңдоо</a>
                <a href="{% url 'edit_history' person_id=victim.pk %}" style="text-decoration: none; font-weight: bold; color: #3D3D3D; font-size: 12px; text-transform: uppercase;">Тарыхын көр</a>
            </div>
        </div>
    </div>
    <div class="content-container">
        <div class="d-flex flex-column">
            <div class="d-flex flex-row">
                <img class="img_victim" src="{{ victim.photo.url }}" alt="Victim_photo">
                <div class="main-info-box">
                    <ul class="ul-class">
                        <li class="d-flex flex-row mb-1">
                            <h5 class="first-h5">
                                Туулган күнү:
                            </h5>
                            <h5 class="second-h5" >
                                {{ birth_date }}
                            </h5>
                        </li>
                        <li class="d-flex flex-row mb-1">
                            <h5 class="first-h5">
                                Каза болгон күнү:
                            </h5>
                            <h5 class="second-h5" >
                                {{ death_date }}
                            </h5>
                        </li>
                        <li class="d-flex flex-row mb-1">
                            <h5 class="first-h5">
                                Туулган жери:
                            </h5>
                            <h5 class="second-h5" >
                                {{ victim.place_of_birth }}
                            </h5>
                        </li>
                        <li class="d-flex flex-row mb-1">
                            <h5 class="first-h5">
                                Каза болгон жери:
                            </h5>
                            <h5 class="second-h5" >
                                {{ victim.place_of_death }}
                            </h5>
                        </li>
                        <li class="d-flex flex-row mb-1">
                            <h5 class="first-h5">
                                Улуту:
                            </h5>
                            <h5 class="second-h5" >
                                {{ victim.nationality }}
                            </h5>
                        </li>
                        <li class="d-flex flex-row mb-1">
                            <h5 class="first-h5">
                                Ишмердиги:
                            </h5>
                            <h5 class="second-h5" >
                                {{ victim.occupation }}
                            </h5>
                        </li>
                        <li class="d-flex flex-row mb-1">
                            <h5 class="first-h5">
                                Коюлган айып:
                            </h5>
                            <h5 class="second-h5" >
                                {{ victim.blame }}
                            </h5>
                        </li>
                        <li class="d-flex flex-row mb-1">
                            <h5 class="first-h5">
                                Акталгандыгы:
                            </h5>
                            <h5 class="second-h5" >
                                {{ reh }}
                            </h5>
                        </li>
                        <li class="d-flex flex-row mb-1">
                            <h5 class="first-h5">
                                Жубайы:
                            </h5>
                            <h5 class="second-h5" >
                                {{ victim.bedfellow }}
                            </h5>
                        </li>
                        <li class="d-flex flex-row mb-1">
                            <h5 class="first-h5">
                                Балдары:
                            </h5>
                            <h5 class="second-h5" >
                                {{ victim.children }}
                            </h5>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="name-box">
                <p class="name-box-p">
                    {{ victim.first_name }} {{ victim.last_name }}
                </p>
            </div>
            <div class="main-info-block">
                <div class="info-block">
                    <div class="text-block">
                        {% for paragraph in paragraphs %}
                            <p class="p-block">
                                {% for sentence in paragraph %}
                                    {{ sentence }}
                                {% endfor %}
                            </p>
                        {% endfor %}
                    </div>
                </div>
            </div>
<!--            <div class="paragraphs-box">-->
<!--                <div class="main-content">-->
<!--                    <div class="d-flex justify-content-center flex-column align-items-center">-->

<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
        </div>
    </div>
</div>
<script>
        var pBlocks = document.querySelectorAll('.p-block');
        function handleScroll() {
          pBlocks.forEach(function(pBlock) {
            var position = pBlock.getBoundingClientRect();
            if (position.top < window.innerHeight && position.bottom >= 0) {
              pBlock.classList.add('element-show');
            } else {
              pBlock.classList.remove('element-show');
            }
          });
        }
        window.addEventListener('scroll', handleScroll);
        handleScroll();
</script>
{% endblock %}