{% extends 'base.html' %}
{% block content %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'list_of_person.css' %}"/>
    <div class="container d-flex justify-content-center flex-column align-items-center">
        <div class="d-flex justify-content-center flex-row mt-3 align-items-center">
            <button class="border-0 bg-white">
                <svg xmlns="http://www.w3.org/2000/svg" width="26" height="36" fill="currentColor"
                    class="bi bi-filter-left me-3" viewBox="0 0 16 16">
                    <path
                        d="M2 10.5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1-.5-.5zm0-3a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm0-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5z" />
                </svg>
            </button>
            <form method="GET" action="{% url 'search' %}"class=" " style="width: 30vw;">
                <input type="search" name="q" value="{{ request.GET.q }}" class="form-control form-control-dark" placeholder="Издеңиз..." aria-label="Search">
            </form>
        </div>
    </div>
    <div class="container d-flex justify-content-center flex-column align-items-center">
{#    {% for victim_article in victim_articles %}#}
    {% for person in page_obj %}
        <div class="card border-0 mt-3 " style="width: 75%;">
            <div class="card-body">
                <a href="{% url 'person_page' person.id %}" class="card-title fs-2 text-decoration-none" style="color: #611902;">
                    {{ person.first_name }}
                    {{ person.last_name }}
                </a>

                <p class="card-text fs-6" style="
                display: -webkit-box;
                -webkit-line-clamp: 5;
                -webkit-box-orient: vertical;
                overflow: hidden;
                text-overflow: ellipsis;">
                    {{ person.content}}
                </p>
            </div>
        </div>
    {% endfor %}
    </div>

{##}
{#<div class="pagination">#}
{#    <span class="step-links">#}
{#        {% if page_obj.has_previous %}#}
{#            <a href="?page=1">&laquo; first</a>#}
{#            <a href="?page={{ page_obj.previous_page_number }}">previous</a>#}
{#        {% endif %}#}
{##}
{#        <span class="current">#}
{#            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.#}
{#        </span>#}
{##}
{#        {% if page_obj.has_next %}#}
{#            <a href="?page={{ page_obj.next_page_number }}">next</a>#}
{#            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>#}
{#        {% endif %}#}
{#    </span>#}
{#</div>#}


       <div class="pagination">

            {% if page_obj.has_previous %}
            <a class="pagination-action" href="?page=1">
                <i class='bx bx-chevrons-left' aria-hidden="true"></i> </a>
            <a class="pagination-action" href="?page={{ page_obj.previous_page_number }}">
                <i class='bx bx-chevron-left' aria-hidden="true"></i>
            </a>
            {% endif %}
            {% for num in page_obj.paginator.page_range %}
                {% if page_obj.number == num %}
                    <span class="pagination-number pagination-current">{{ num }}</span>
                {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                   <a class="pagination-number" href="?page={{ num }}">{{ num }}</a>
                {% endif %}
            {% endfor %}
            {% if files.has_next %}
                <a class="pagination-action" href="?page={{ page_obj.next_page_number }}">
                    <i class='bx bx-chevron-right' aria-hidden="true"></i>
                </a>
                <a class="pagination-action" href="?page={{ page_obj.paginator.num_pages }}">
                    <i class='bx bx-chevrons-right' aria-hidden="true"></i>
                </a>
            {% endif %}

    </div>




{% endblock %}