{% extends 'base.html' %}
{% block content %}
{% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'list_of_person.css' %}"/>
    <script src="{% static 'static/script.js' %}"></script>
<div>
    <div class="container d-flex justify-content-center flex-column align-items-center" style="width: 83%;">
        <div class="d-flex flex-row" style="max-width: 500px;">
            <div class="search-box">
                <form method="GET" action="{% url 'search' %}" style="width: 30vw;">
                    <input type="search" id="searchbox" name="q" value="{{ request.GET.q }}" placeholder="Издеңиз..." aria-label="Search">
                </form>
            </div>
            <form id="sortForm" action="{% url 'list_of_person' %}" method="get">
                <div id="sort_option" class="sort-option ms-2">
                    <div class="option {% if sort_option == 'first_name' %}selected{% endif %} ms-1" data-value="first_name">
                        <img src="{% static 'img/icons/1.svg' %}" width="20" height="20">
                    </div>
                    <div class="option {% if sort_option == '-first_name' %}selected{% endif %}" data-value="-first_name">
                        <img src="{% static 'img/icons/2.svg' %}" width="20" height="20">
                    </div>
                </div>
                <input type="hidden" name="sort_option" id="sort_option_input" value="{{ sort_option }}">
            </form>
        </div>
        <div class="container d-flex justify-content-center flex-column align-items-center">
            {% for person in page_obj %}
                <div class="card border-0 mt-3 " style="width: 93%;">
                    <div class="card-body">
                        <a href="{% url 'person_page' person.id %}" class="card-title fs-2 text-decoration-none" style="color: #611902; text-transform: uppercase; font-family: sans-serif">
                            {{ person.first_name }}
                            {{ person.last_name }}
                        </a>
                        <p class="card-text fs-6" style="
                        display: -webkit-box;
                        -webkit-line-clamp: 5;
                        -webkit-box-orient: vertical;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        font-family: 'sans-serif';">
                            {{ person.content}}
                        </p>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="pagination" style="margin-bottom: 100px">
            <ul>
                {% for num in page_obj.paginator.page_range %}
                    {% if page_obj.number == num %}
                        <li class="active">
                            <a href="?page={{ num }}">{{ num }}</a>
                        </li>
                    {% else %}
                        <li>
                            <a href="?page={{ num }}">
                                {{ num }}
                            </a>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    </div>
</div>

<script>
  const options = document.querySelectorAll('.option');

  options.forEach(option => {
    option.addEventListener('click', () => {
      const sortOption = option.getAttribute('data-value');
      document.getElementById('sort_option_input').value = sortOption;
      const currentPageUrl = new URL(window.location.href);
      currentPageUrl.searchParams.set('sort_option', sortOption);
      window.location.href = currentPageUrl.href;
    });
  });
</script>
{% endblock %}