.nav {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #333;
  z-index: 999;
}

.nav-toggle {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.nav-toggle-icon {
  display: block;
  position: relative;
  width: 100%;
  height: 2px;
  background-color: #fff;
  transition: all 0.2s ease-in-out;
}

.nav-toggle-icon:before,
.nav-toggle-icon:after {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #fff;
}

.nav-toggle-icon:before {
  top: -10px;
}

.nav-toggle-icon:after {
  bottom: -10px;
}

.nav-menu {
  position: absolute;
  top: 0;
  right: -200px;
  width: 200px;
  height: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #444;
  transition: all 0.3s ease-in-out;
}

.nav-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-menu li {
  margin-bottom: 10px;
}

.nav-menu a {
  display: block;
  color: #fff;
  text-decoration: none;
  transition: color 0.2s ease-in-out;
}

.nav-menu a:hover {
  color: white;
}

.nav-menu.open {
  right: 0;
}


.do{
    background-color: white;
}
.intro {
    max-height: 100vh;
    overflow: hidden;
    position: relative;
}

.intro:after {
    width: 100%;
    height: 100%;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

.intro_content {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 3;
    position: absolute;

}

.video {
    display: flex;
    justify-content: center;
}


.intro-overlay {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1500px;
    height: 40%;
    z-index: 4;
    color: #FFFFFF;
    background-color: rgba(61, 61, 61, 0.7);
    bottom: 0;
}



ul.timeline {
    list-style-type: none;
    position: relative;
}
ul.timeline:before {
    content: ' ';
    background: white;
    display: inline-block;
    position: absolute;
    left: 29px;
    width: 2px;
    height: 100%;
    z-index: 400;
}
ul.timeline > li {
    margin: 20px 0;
    padding-left: 20px;
}
ul.timeline > li:before {
    content: ' ';
    background: white;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 3px solid white;
    left: 20px;
    width: 20px;
    height: 20px;
    z-index: 400;
}
#header_new > a {
    color: white;
    text-decoration: none;
}
#header_new > a:hover {
    color: dimgray;
    text-decoration: none;
}


.navigation-wrap{
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 1000;
	-webkit-transition : all 0.3s ease-out;
	transition : all 0.3s ease-out;
}
.navbar{
	padding: 0;
}
.navbar-brand img{
	height: 150px;
	width: auto;
	display: block;
}
.nav-link{
	color: #FFFFFF !important;
	font-weight: 500;
    transition: all 200ms linear;
}
.nav-item:hover .nav-link{
	color: white !important;
}
.nav-item.active .nav-link{
	color: #777 !important;
}
.nav-link {
	position: relative;
	padding: 5px 0 !important;
	display: inline-block;
}
.nav-item:after{
	position: absolute;
	bottom: -5px;
	left: 0;
	width: 100%;
	height: 2px;
	content: '';
	background-color: white;
	opacity: 0;
    transition: all 200ms linear;
}
.nav-item:hover:after{
	bottom: 0;
	opacity: 1;
}
.nav-item.active:hover:after{
	opacity: 0;
}
.nav-item{
	position: relative;
    transition: all 200ms linear;
}

.input {
    margin-top: 4px;
    margin-left: 70px;
    border: none;
    outline: none;
    color: white;
    background: transparent;
    transition: all 200ms linear;
}
.input::placeholder {
    color: white;
}


@media (max-width: 576px) {
  .navigation-wrap {
    width: 100%;
  }
}

@media (max-width: 576px) {
  .navbar-brand img {
    height: 100px;
  }
}


@media (max-width: 576px) {
  .button {
    margin-bottom: 50px;
  }
}


@media (max-width: 576px) {
  .search_form::after {
    width: 20px;
    height: 20px;
  }
}


.footer {
    width: 100%;
    max-width: 1500px;
    margin: 0 auto;
    background-color: #3D3D3D;
    color: #FFFFFF;
    padding: 20px;
}


.footer-logo {
    width: 75px;
    height: auto;
    margin-left: auto;
    opacity: 0.5;
}

.footer-text {
    text-align: justify;
    font-size: 11px;
    opacity: 0.6;
    margin-right: 50px;
    padding-left: 40px;
    margin-top:17px;
}

.footer-text2 {
    border-left: 1px solid #FFFFFF;
    font-size: 11px;
    opacity: 0.7;
}
.footer-text2 img {
    margin-left: 15px;
}
.footer-text2 p{
    margin-left: 30px;
    margin-top: 10px;
}

@media only screen and (max-width: 767px) {
    .footer {
        padding: 10px;
    }
    .footer-logo {
        width: 50px;
    }
    .footer-text {
        font-size: 10px;
        margin-right: 0;
        padding-left: 0;
        margin-top: 10px;
        text-align: center;
    }
    .footer-text2 {
        border-left: none;
        border-top: 1px solid #FFFFFF;
        margin-top: 10px;
        padding-top: 10px;
        text-align: center;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .footer-logo {
        width: 60px;
    }
    .footer-text {
        font-size: 10px;
        margin-right: 20px;
        padding-left: 0;
        margin-top: 10px;
        text-align: justify;
    }
    .footer-text2 {
        border-left: none;
        border-top: 1px solid #FFFFFF;
        margin-top: 10px;
        padding-top: 10px;
        text-align: center;
    }
}

@media only screen and (min-width: 992px) {
    .footer {
        padding: 20px;
    }
    .footer-logo {
        width: 75px;
    }
    .footer-text {
        font-size: 11px;
        margin-right: 50px;
        padding-left: 40px;
        margin-top:17px;
        text-align: justify;
    }
    .footer-text2 {
        border-left: 1px solid #FFFFFF;
        border-top: none;
        margin-top: 0;
        padding-top: 0;
        text-align: left;
    }
}

.main-info-block {
    max-width: auto;
}

.info-block {
    max-width: 1500px;
    margin: 0 auto;
}

.text-block {
    background-color: #611902;
    padding: 20px;
    position: relative;
}

.p-block {
    color: #ffffff;
    text-transform: uppercase;
    text-align: justify;
    margin: 20px 5%;
    opacity: 0;
    transform: translateY(100%);
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.p-block.element-show {
  opacity: 1;
  transition: all 1s;
  transform: translateY(0%);
}


@media (max-width: 768px) {
  .img {
    width: 200px;
    height: 308px;
  }

  .button {
    width: 200px;
    height: 308px;
  }
}

@media (max-width: 576px) {
  .img {
    width: 160px;
    height: 246px;
  }

  .button {
    width: 160px;
    height: 246px;
  }
}

.hi-slide {
    position: relative;
    width: 1500px;
    height: auto;
    margin: 0px auto;
    border: 1px solid #3D3D3D;
}

.hi-slide > ul {
    list-style: none;
    position: relative;
    width: 754px;
    height: 292px;
    margin: 0;
    padding: 0;
}

.hi-slide > ul > li {
    overflow: hidden;
    positon: absolute;
    z-index: 0;
    left: 377px;
    top: 147px;
    width: 0px;
    height: 0px;
    margin: 0px;
    padding: 0px;
    cursor: pointer;
}

.hi-slide > ul > li > img {
    width: 150px;
    height: 10px;
    background-position: center;

}