*:before,
*:after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #3D3D3D;
}
.background{
    width: 430px;
    height: 520px;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
}

form{
    height: 520px;
    width: 400px;
    background-color: rgba(255,255,255,0.13);
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    padding: 50px 35px;
}


label:after {
  position: absolute;

}
.login {
    margin-top: 70px;
}

.username input, .password input{
    display: block;
    height: 50px;
    width: 100%;
    background-color: rgba(255,255,255,0.07);

    border: 2px solid #949090;
    padding: 0 10px;
    margin-top: 10px;
    font-size: 14px;
    font-weight: 300;
}


.error{
    font-family: 'Poppins', sans-serif;
    display: block;
    font-weight: 500;
    letter-spacing: 0.5px;
    margin-top: 25px;
    color: white;
    font-size: 15px;
    text-align: center;
    outline: none;
    border: none;
    z-index: 1000;
}

form *{
    font-family: 'Poppins',sans-serif;
    color: #ffffff;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
}
form h3{
    font-size: 32px;
    font-weight: 500;
    line-height: 42px;
    text-align: center;
}
label{
    display: block;
    margin-top: 30px;
    font-size: 16px;
    font-weight: 500;
}
::placeholder {
    color: #c0bebe;
    font-family: 'Poppins',sans-serif;
    margin-left: 60px;

}


.button{
    margin-top: 35px;
    margin-left: 100px;
    width: 50%;
    background-color: #ffffff;
    color: #723838;
    padding: 7px 0;
    font-size: 20px;
    font-family: 'Poppins',sans-serif;
    font-weight: 600;
    border-radius:0 40px 0 40px ;
    cursor: pointer;

}

.icons {
    margin-top: 30px;
    margin-left: 110px;
}

.fa {
    padding: 20px;
    font-size: 20px;
    width: 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 30px;


}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}

.reg_user{
    margin-top: 30px;
}

a {
    text-decoration: None;
}


