{% load static %}
{% block style %}
    <link rel="stylesheet" href="{% static 'main.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
     <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"/>
{% endblock %}
<body>
    <div class="intro">
        <div class="video">
            <img class="video_media" src="{% static 'img/img1.png' %}">
        </div>
        <div class="intro-overlay d-flex justify-center align-center">
            <div class="slider" style="display: flex; width: 100%">
                {% for victim in victims %}
                    <div class="slider__item">
                        <div style="max-width: 190px;
                                    margin: 0 auto;">
                            <a href="{% url 'person_page' victim.id %}">
                                <img class="slider_img" src="{{ victim.photo.url }}"
                                     alt="{{ victim.first_name}} {{vistim.last_name }}"
                                     style="border-radius: 50%;
                                            width: 100%;
                                            height: auto;"
                                >
                            </a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="navigation-wrap">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<nav class="navbar navbar-expand-md navbar-light">
						<a class="navbar-brand" href="{% url 'index' %}"><img src="{% static 'img/img.png' %}" alt=""></a>
						<div class="collapse navbar-collapse" id="navbarSupportedContent">
						</div>
                        <ul class="navbar-nav ml-auto py-4 py-md-0">
                            <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
                                <a class="nav-link" href="{% url 'list_of_person' %}">Тизме</a>
                            </li>
                            <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
                                <a class="nav-link" href="{% url 'create_person' %}">Адам кош</a>
                            </li>
                            <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
                                <a class="nav-link" href="{% url 'contact' %}" role="tab">Байланыш</a>
                            </li>
                        </ul>
					</nav>
				</div>
			</div>
		</div>
    </div>
    <div class="main-info-block">
        <div class="info-block">
            <div class="text-block">
                <p class="p-block">1918-жылдан 1991-жылга чейин СССР бийлиги жыйырма миңдеген кыргызстандыктардын,
                    эл каймактарынын өмүрүн алган, жүз миңдеген адамдардын турмушун талкалаган.
                    Бул расмий сандар жана бир гана саясий репрессиялар боюнча статистика.
                    Көптөгөн адамдар үчүн бул жөн гана бош сөз болушу мүмкүн.
                    Андыктан, «Чырак» долбоору ар биринин жүрөгүнүн жана аң-сезиминин эшигин кагат.</p>
                <p class="p-block">
                    Кыргыз Республикасы эгемендигин алгандан кийин, кыргыз эли өзүнүн чыныгы тарыхын өзү изилдеп,
                    өзүнүн иденттүүлүгүн таануу жараянында токтобой жүрүп жаткан учуру.
                    Ошол учурда мурда айтууга тыюу салынгандар айтылып, жазылгандар жазылып баштаган болсо,
                    ал эми бүгүн мурда демейки катары эсептелген нерселерге көз караш жаңыдан каралып, бүткүл эл, бүткүл коом
                    аң-сезимдин рефлексиясынан өтүп жаткан кези.
                    «Чырак» долбоорунун жолго салынышы да, ошол процесстен таасирленет жана ошол процесстин бөлүгү.
                </p>
                <p class="p-block">
                    «Өткөнүн унутуп, андан айрылуу – адам үчүн коркунучтуу нерсе.
                    Ал адам, эне сүтү, апасынан уккан ырлар, жомоктор менен кошо өзүнө сиңирген асыл нарктардан айрылат.
                    Эгер адам баласы мунун бардыгынан куружалак калса, анда ал адамда элдин дагы, жүрөктүн дагы эс тутуму жок.
                    Эгер адам мындай руханий абалга атайылап камалса, анда ал боорукерлик,
                    ак көңүлдүүлүк деген сапаттардан түбөлүк ажырап, кара мүртөзгө айланат.
                    Дал ошондо, маңкурт жөнүндө айтылган уламыш чындыкка айланат...»
                </p>
                <p class="p-block">
                    «Чырак» долбоору бир учурда тарыхый адилеттүүлүктүн тамырын издеп жана изилдеп,
                    бир эле учурда саясий куугунтукка кабылган кыргызстандыктар тууралуу кыргызча базаны эл эсинен,
                    эл оозунан чогултуп, ошону менен бирге коом ичинде тарыхыбыздын көбүрөөк талкууланышын,
                    социумдун түрдүү катмарларынын көңүлүн бурууну көздөйт.
                    Бул талкуу өз учурунда колониализмдин торунда камалган ой-жүгүртүүнү бузуп, сындырып чыгат деп ишенет.
                </p>
                <p class="p-block">
                    Тарыхыбыздан өткөн байлык жок. Аны бапестеп сактоо, унутпоо, кийинки муундарга жеткирүү ар бирибиздин милдетибиз.
                    Анткени тарыхтын айланасында гана сиз жана биз барбыз, элибиз жана мамлекетибиз бар.
                </p>
            </div>
        </div>
    </div>

    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-8 d-flex justify-content-between align-items-center">
                    <img src="{% static 'img/img.png' %}" alt="Logo" class="footer-logo">
                    <p class="footer-text">
                        Сайтта берилген бардык маалыматтар маалымдоо максатында гана колдонулат жана
                        эч бир шартта Кыргыз Республикасынын Жарандык кодексинин жоболорунда
                        аныкталган ачык оферта болуп саналбайт. Сайтта калуу менен сиз
                        "Колдонуучу келишиминин" шарттарына макул катары саналасыз.
                    </p>
                </div>
                <div class="footer-text2 col-4 d-flex justify-content-between align-items-center">
                <img src="{% static 'img/img2.png' %}" alt="Logo" class="footer-logo">
                <p>
                    Бишкек, Кыргызстан. Кыргыз-Түрк "Манас" университети.
                    2023-жыл.
                </p>
            </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
      <script type="text/javascript">
    $(document).ready(function(){
        $('.slider').slick({
          slidesToShow: 5,
          slidesToScroll: 1,
          autoplay: true,
          autoplaySpeed: 700,
        });
    });
     </script>
    <script>
        var pBlocks = document.querySelectorAll('.p-block');
        function handleScroll() {
          pBlocks.forEach(function(pBlock) {
            var position = pBlock.getBoundingClientRect();
            if (position.top < window.innerHeight && position.bottom >= 0) {
              pBlock.classList.add('element-show');
            } else {
              pBlock.classList.remove('element-show');
            }
          });
        }
        window.addEventListener('scroll', handleScroll);
        handleScroll();
    </script>
</body>